#game-board {
}

.label {
  font-size: 0.8em;
}

.columnLabel {
  vertical-align: top;
  padding-top: 2px;
}

.rowLabel {
  text-align: right;
  padding-right: 5px;
}

.boardSquare {
  background: #7B7B7B;
  min-width: 34px;
  height: 34px;
}

.boardRow:nth-child(even) .boardSquare:nth-child(odd), .boardRow:nth-child(odd) .boardSquare:nth-child(even) {
  background: #E0E0E0;
}

round div, triangle div, square div {
  padding-top: 8px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 0px black,
              -1px -1px 0px black,
              -1px 1px 0px black,
              1px -1px 0px black;
}

